.forgotscreens {
    height: 100svh;
    background: url('../../assets/images/whitelogo.svg') no-repeat 3% 5% / 12%,
    url("../../assets/images/Frameleft.svg") no-repeat 0% center / 45%,
    linear-gradient(to right,#00214500 0%, #010e1e91 30%, #000000a9 100%),
    linear-gradient(to left,#000000 11%, #010e1e00 50%),
    url("../../assets/images/Frametopright.svg") no-repeat 70% -20% / 60%,
      url("../../assets/images/Framebottom.svg") no-repeat bottom 0% center / 80%,
      url("../../assets/images/framebottomright.svg") no-repeat 83% 70% / 40%,
      #13131a;
}
.mainpasses {
    width: 471px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0D1217;
}

.forgotpassheads {
    font-family: 'Cabinet Grotesk Bold';
    font-size: 24px;
    text-align: start;
    line-height: 29.76px;
    margin-bottom: 25px;
    
}

/* .forgotpasslogos {
    width: 207.03px;
    height: 40px;
} */

.mainpasses .closes {
    height: 14px;
    width: 14px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(35%) saturate(2%) hue-rotate(139deg) brightness(109%) contrast(101%);
}

.closes {
    transition: transform 0.4s ease-in-out;
  }
  
  .rotate-animation {
    transform: rotate(180deg);
  }

.mainpasses .currentpaswdlabel {
    font-family: 'Cabinet Grotesk Light';
    font-size: 14px;
    line-height: 17.36px;
    display: block;
    height: 17px;
    margin: 1px 0;
    color: white;
}

.mainpasses .password {
    font-family: 'Cabinet Grotesk Light';
    color: #898989;
    width:  370px;
    height: 48px;
    padding: 0 15px;
    background-color: #161C23;
}

.mainpasses input {
    width: 100%;
    height: 48px;
    padding: 0 15px;
    outline: none;
}

.mainpasses input::placeholder {
    font-family: 'Cabinet Grotesk Light';
    color: #72787C;
    font-size: 14px;
    width: 139px;
    line-height: 17.36px;
}

.mainpasses .passbtns {
    font-family: 'Cabinet Grotesk';
    font-weight: 700;
    font-size: 18px;
    height: 48px;
    letter-spacing: 1px;
}

.mainpasses .backlogin {
    font-family: 'Cabinet Grotesk';
}
.currentpaswd {
    justify-items: center;
}

@media(min-width: 576px) {
    .forgotpassheads{
    margin-left: -11.5rem;    
    }
}


@media (max-width: 576px) {
    .mainpasses {
        width: 396px;
        height: 500px;
        box-shadow: 1px 1px 50px rgba(105, 105, 105, 0.13); 
        position: sticky;
    }

    .mainpasses .password {
        width: 356px;
    }

    .forgotpassheads {
        align-self: center;
        /* padding-bottom: 1.5rem; */
    }

    .mainpasses .headers {
        display: flex;
        align-items: center;    
    }

    .closes {
        margin-top: 25px;
    }
    .forgotscreens {
      height: 100svh;
      background: url('../../assets/images/whitelogo.svg') no-repeat 50% 17% / 35%,
      url("../../assets/images/Frameleft.svg") no-repeat 0% 37%  / 100%,
      linear-gradient(to right,#00214500 0%, #010e1e91 30%, #000000a9 100%),
      linear-gradient(to left,#000000 11%, #010e1e00 50%),
        #13131a;
    }

    
}

@media (max-width: 420px) {
    .mainpasses {
        width: 370px;
        height: 500px;
    }

    .mainpasses .password {
        width: 330px;
    }
}

@media (max-width: 400px) {
    .mainpasses {
        width: 345px;
        height: 500px;
    }

    .mainpasses .password {
        width: 315px;
    }
    .forgotscreens {
        height: 100svh;
        background: url('../../assets/images/whitelogo.svg') no-repeat 50% 10% / 35%,
        url("../../assets/images/Frameleft.svg") no-repeat 0% 37%  / 100%,
        linear-gradient(to right,#00214500 0%, #010e1e91 30%, #000000a9 100%),
        linear-gradient(to left,#000000 11%, #010e1e00 50%),
          #13131a;
      }
}

@media (max-width: 376px) {
    .mainpasses {
        width: 320px;
        height: 500px;
    }
    .mainpasses .password {
        width: 270px;
    }
 
    .forgotscreens {
        height: 100svh;
        background: url('../../assets/images/whitelogo.svg') no-repeat 50% 7% / 35%,
        url("../../assets/images/Frameleft.svg") no-repeat 0% 37%  / 100%,
        linear-gradient(to right,#00214500 0%, #010e1e91 30%, #000000a9 100%),
        linear-gradient(to left,#000000 11%, #010e1e00 50%),
          #13131a;
      }
}