.add-policy-head {
    font-family: 'Switzer Medium';
    font-size: 26px;
    font-style:normal;
    line-height: normal;
}

.attach-policy-text {
    font-family: 'Switzer Light'; 
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    color: white;
}

.add-policy-text {
    font-family: 'Switzer Regular';
    font-size: 16px;
    line-height: normal;
    font-style: normal;
}

.custom-fonts {
    font-family: 'Switzer Regular';
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    color: #AAAAAA;
}